{% extends 'base.html' %}

{% load static %}


{% block title %}
<title>My Profile</title>


{% endblock title %}
{% block content %}

{% include 'navbar.html' %}

<section class="seekerprofile" style="background-color: #f5f5f7; height: auto;">
    <div class="container" style="height: 80vh;">
        <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h5">My Profile</h1>
        </div>
        {% include 'flashmessage.html' %}
        {% if user.image %}
        <img class="img-fluid rounded mt-3" src="{{user.image.url}}" alt="profile" width="150px" height="120px"
            style="text-align: left;"></img>
        {% else %}
        <img class="img-fluid rounded mt-3" src="{% static '/blank.png' %}" alt="profile" width="150px" height="120px"
            style="text-align: left;"></img>
        {% endif %}
        <div class="table-responsive mt-5">
            <table class="table table-sm" style="text-align: left; width: auto; height: 1vh;">
                <tbody>
                    <tr>
                        <th style="text-align: justify;">Name </th>
                        <td style="text-align: justify;">{{user.first_name}} {{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: justify;">Username </th>
                        <td style="text-align: justify;">{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: justify;">Email </th>
                        <td style="text-align: justify;">{{ user.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mb-3">
            <div class="mb-3" style="text-align: left;">
                <a href="{% url 'users:profileedit' user.id%}"> <button class="px-5" type="submit" value="submit" style="background-color: #B6C6FF; 
                border-radius: 5px; border:none; height: 4vh; width:auto;">
                        <i class="bi bi-pencil-square pe-2"></i>Edit</button>
                </a>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}

{% endblock content %}