{% extends 'employerbase.html' %}

{% block title %}
<title> Accept Application </title>

{% endblock title %}

{% block content %}
{% include 'header.html' %}

{% include 'sidebar.html' %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h5">Message</h1>
    </div>
    <form action="#" name="searchfiler" method="post"> {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Applicant Name:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" value="{{applications.name}}"
                name="applicant_name" readonly>
        </div>
        <div class="mb-3">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="Enter message"
                name="message"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Company Name:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" value="{{company.company_name}}"
                name="company_name" readonly>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Employer Name:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1"
                value="{{request.user.first_name}} {{request.user.last_name}} " name="employer_name" readonly>
        </div>
        <input type="hidden" value='{{applications.id}}' class="form-control" name="application_id" readonly>

        <div class="mb-3">
            <div class="mb-3" style="text-align: left;">
                <button type="submit" class="btn btn-outline-success"><i class="bi bi-check-lg me-2"></i></i>Accept
                    Application</button>
            </div>
        </div>
    </form>
</main>

{% endblock content %}