<header class="navbar navbar-dark sticky-top p-0"
    style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background-color: #DEDFE0;">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 ps-5" id="company_name"
        href="{% url 'employer:dashboard' %}" style="color: black;">JobHub | Employer Panel</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="background-color: black;"></span>
    </button>
    <div class="navbar-nav" style="background-color: #DEDFE0;">
        <div class="nav-item text-nowrap">
            <form id="logout-form" method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="dropdown-item"
                    style="background:none; border:none; padding:0; color:inherit; text-align:left;"
                    onmouseover="this.style.color='#007BFF';" onmouseout="this.style.color='#000';">
                    Log Out
                </button>
            </form>
        </div>
    </div>
</header>