{% extends 'employerbase.html' %}

{% block title %}
<title>Post Job</title>
{% endblock title %}

{% block content %}

{% include 'header.html' %}
{% include 'sidebar.html' %}


<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <form action="#" name="searchfiler" method="post"> {% csrf_token %}
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h5">Post Job</h1>
        </div>
        <input class="form-control" value="{{request.user.id}}" type="hidden">
        <input class="form-control" value="{{company.id}}" type="hidden">

        {% for field in form %}

        <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}

            <span class="text text-danger">
                {{field.errors}}
            </span>

        </div>
        {% endfor %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Company Name:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="company_name"
                value="{{company.company_name}}" readonly>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Company Location:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="company_location"
                value="{{company.company_location}}" readonly>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Company Website:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="www.xyz.com"
                name="company_website" value="{{company.company_website}}" readonly>
        </div>
        <div class="mb-3">
            <div class="mb-3" style="text-align: center;">
                <button type="submit" value="submit"
                    style="background-color: #B6C6FF; border-radius: 5px; border:none; height: 4vh; width:30vw;"
                    onmouseover="this.style.backgroundColor='#8ca3f5';"
                    onmouseout="this.style.backgroundColor='#B6C6FF';">Post</button>
            </div>
        </div>
    </form>
</main>

{% endblock %}