{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{% static 'staticfiles/logo.png' %}" type="image/icon type">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="stylesheet" href="{% static 'staticfiles/css/login.css' %}">
	<title>JobSpot | Login</title>
</head>

<body>

	<div class="container">
		<form action="" class="login active" method="post"> {% csrf_token %}
			<h1 class="titleh1">JobSpot</h1>
			<h3 class="titleh3">Login with your account</h3>
			{% if form.non_field_errors %}
			{% for error in form.non_field_errors %}
			<p style="color: red">{{ error }}</p>
			{% endfor %}
			</ul>
			{% endif %}
			{% include 'flashmessage.html' %}
			<div class="form-group">
				<label for="username">Username</label>
				<div class="input-group">
					<input type="username" id="username" name="username" placeholder="Enter your username">
					<i class='bi bi-person'></i>
				</div>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<div class="input-group">
					<input type="password" id="password" name="password" placeholder="Your password">
					<i class='bi bi-lock'></i>
				</div>
				<span class="help-text">At least 8 characters</span>
			</div>
			<button type="submit" class="btn-submit" name="submit">Login</button>
			<!-- <a href="#">Forgot password?</a> -->
			<p>I don't have an account? <a href="{% url 'register' %}">Register</a></p>
			<a href="{% url 'jobs:index' %}">Go home</a>

			<input type="hidden" name="next" value="{{ request.GET.next }}" />
		</form>
	</div>
</body>
<script src="{% static 'staticfiles/js/jqueryajax.min.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
	crossorigin="anonymous"></script>

</html>