<style>
    a {
        display: block;
        text-decoration: none;
    }
</style>


<div class="col-md-5 col-lg-4 order-md-last"
    style="border: 0.1px solid #bfc3cb; border-radius: 10px; background-color: #f5f5f7; height: auto;">
    <h4 class="h5  mb-3 py-3" style="border-bottom: 0.1px solid #B6C6FF; text-align: center;">
        Similar Jobs
    </h4>

    {% for job in similar_jobs %}
    {% if job.application_valid >= date %}
    <a href="{% url 'jobs:job_detail' job.id %}">

        <div id="cardbox" class="mb-3" style="border-bottom: 0.1px solid lightslategray">
            <div class="card flex-row"><img class="card-img-left example-card-img-responsive mt-2"
                    src="{{job.logo.url}}" width="100px" height="100px" />
                <div class="card-body" style="text-align: left;">
                    <h4 class="" style="color: #0d1e5c; font-size: 16px;">{{ job.title }}</h4>
                    <h5 class="" style="font-size: 14px;">Company: {{ job.company_name }}</h5>
                    <h5 class="fw-normal fs-6"> Category: {{job.category}} </h5>
                    <h5 class="fw-normal fs-6"> Level: {{job.level}} </h5>
                    <h5 class="fw-normal fs-6"> Type: {{job.type}} </h5>


                </div>
            </div>
        </div>

    </a>
    {% endif %}
    {% endfor %}

</div>